{% load static %}


<div class="clearfix widget-wrapper wt1tb bgColorContainer fullWidthWidget simp-custom-media-news-header" data-widget-id="2292846" style="background-color: #fff;">
    <div class="fullWidthWidgetWrapper clearfix">
        <div class="col-xs-12 one-col text-content">
            <div class="text-content-wrapper">
                <p></p>
                <h2>Media &amp; News</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix widget-wrapper wt1imgtop-1tbbot imageDescriptionbottom1 wt-image-text-slider bgColorContainer fullWidthWidget simp-custom-media" data-widget-id="2295880" style="background-color: #fff; ">
    <div class="fullWidthWidgetWrapper clearfix">


        <div class="col-xs-12 one-col text-content"><img alt="Web-04" class="img-responsive image-content-29" loading="lazy" src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2812/x_1094,y_0,w_2812,h_2812,r_0,c_crop,q_80,fl_progressive/w_1350,f_auto,c_fit/the-clarks-hotels-resorts/Web-04_mogy39"
                style="aspect-ratio: 2812/2812; " />
            <div class="text-content-wrapper">
                <p></p>
                <p>ET Hospitality</p><a href="https://hospitality.economictimes.indiatimes.com/news/hotels/my-vision-is-to-make-the-clarks-hotels-resorts-a-leading-global-brand-out-of-india-aryavir-kumar/101030439" target="_blank"><span>My vision is to make The Clarks Hotels &amp; Resorts a leading global brand out of India: Aryavir Kumar</span></a>
                <p></p>
            </div>
        </div>

        
    </div>
</div>
